.ng-enter {
  -webkit-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -ms-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
}

.ng-leave {
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -ms-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}